
header
{
	text-align: center;
	background-color: gray;
	padding: 30px;
}

table
{
	margin: 30pt 0 0 250pt;
	text-align: center;
	border: solid 1pt;
	border-collapse: collapse;
}

thead th
{
	background-color: #CACACA;
	padding: 5pt;
	a
}

tbody td
{
	border: solid 1pt;
	padding: 5pt;
}

footer
{
	position:absolute;
    text-align: center;
    bottom:0;
    width:99%;
    height:100px;  
    background-color: gray;
}

#goback
{

	text-align: center;
	font-style: arial;
	margin-top: 10pt;
	margin left: 300pt;
}

a:hover
{
color: green;
}